
section .about-self::after{
    content: '';
    clear: both;
    display: block;
}

section .about-self {
    display: flex;
    align-items: flex-start
}

section .about-self .left img{
    width: 100%;
}

section .about-self .left,
section .about-self .right {
    flex: 1;
}

section .about-self .right {
    padding: 0 2rem;
}

section .about-self .right h3 { 
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

section .about-self .right h3 strong {
    color: darkorange;
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

section .about-self .right p {
    font-size: 1.25rem;
    margin-bottom: 1rem 0;
}
section .about-self .social a {
    font-size: 2.5rem;
    margin-right: 0.2rem;
}

