section .do-me .do-inner {
    width: 30%;
    float: left;
    margin-right: 5%;
    margin-bottom: 2rem; 
    padding: 2rem;
    background-color: #fff;
    cursor: pointer;
    box-sizing: border-box;
}


section .do-me .do-inner:nth-of-type(3n) {
    margin-right: 0;
}


section .do-me::after {
    content: '';
    display: block;
    clear: both;
}

section .do-me .do-inner .icon i{
    font-size: 2.5rem;
    color: #ff6a6a;
}

section .do-me .do-inner .content h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

section .do-me .do-inner .content p {
    font-size: 1.15rem;
}   

section .do-me .do-inner:hover{
    background-color: lightcoral;
    color: white;
}
section .do-me .do-inner:hover .icon i{
    color: white;
}

section {
    background-color: #f8f8f8;
}


